.app-page {
    height: 100%;
    padding: 24px;
}

.app-page > img {
    width: 33px;
    height: 33px;
    float: left;
    margin-right: 8px;
}

.pick-btn {
    /* position: absolute;
    right: 0;
    top: 0; */
    /* bottom: auto; */
    /* transform: translate(-50%, -50%); */
}